# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
books/
images/
*.json
.python-version




## Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
.python-version



